.results { 
	animation-duration: 2s;
	width: 60%;
	margin: 40px auto 0 auto;
}

@media (max-width: 768px) {
	.results {
		width: 80%;
	}
}

@media (max-width: 480px) {
	.results {
		width: 95%;
	}
}

.resultsItem {
	margin: 40px 0 40px 0;
	justify-content: center;
	border-bottom: 1px solid $grey;
	padding-bottom: 40px;

	h3 {
		font-family: $headingFont;
		font-size: 2rem;
		text-transform: uppercase;
		letter-spacing: 1px;
		padding-bottom: 5px;
	}

	@media (max-width: 768px) {
		h3 {
			font-size: 1.8rem;
		}
	}

	@media (max-width: 480px) {
		h3 {
			font-size: 1.5rem;
			max-width: 260px;
		}
	}

	h4 {
		color: $grey;
		font-size: 1.2rem;
		text-transform: uppercase;
		padding-bottom: 5px;
	}

	@media (max-width: 768px) {
		h4 {
			font-size: 1rem;
		}
	}

	@media (max-width: 480px)  {
		h4 {
			font-size: .8rem;
		}
	}

	// p {
	// 	width: 90%;
	// }

	a {
		text-decoration: none;
		background-color: $yellow;
		text-shadow: 1px 2px 1px $grey;
		color: $white;
		border-radius: 100px;
		padding: 10px;
		display: inline-block;
		width: 8rem;
		text-align: center;
		margin-top: 10px;
		border: 1px solid $yellow;
	}

	button {
		border: 1px solid $black;
		border-radius: 100px;
		background: none;
		padding: 10px;
		margin-left: 10px;
	}
}


.resultsTitleDate { 
	display: flex;
	align-items: center;
	justify-content: space-between;

	p { // date
	background-color: $grey;
	color: $white;
	width: 100px;
	padding: 2px;
	text-align: center;
	border-radius: 5px;
	margin-bottom: 5px;
	float: right;
	}
}