.results { 
	animation-delay: 1s;
	width: 60%;
	margin: 40px auto 0 auto;
	display: none;
}

	@media (max-width: 768px) {
		.results {
			width: 80%;
		}
	}

	@media (max-width: 480px) {
		.results {
			width: 95%;
		}
	}

.resultsItem {
	margin: 40px 0 40px 0;
	justify-content: center;
	border-bottom: 1px solid $grey;
	padding-bottom: 40px;

	h4 {
		margin-bottom: 20px;
	}
  
	h3 { // 'job position'

		font-family: $headingFont;
		font-size: 2rem;
		text-transform: uppercase;
		letter-spacing: 1px;
		padding-bottom: 5px;
		max-width: 500px;
	}
  
	p{
		line-height: 1.67;
		margin-bottom: 20px;
	}

	@media (max-width: 768px) {
		h3 {
			font-size: 1.8rem;
		}
	}

	@media (max-width: 480px) {
		h3 {
			font-size: 1.5rem;
			max-width: 260px;
		}
	}

	h4 { // 'location and company'
		color: $grey;
		font-size: 1.2rem;
		text-transform: uppercase;
		padding-bottom: 5px;
	}

	@media (max-width: 768px) {
		h4 {
			font-size: 1rem;
		}
	}

	@media (max-width: 480px)  {
		h4 {
			font-size: .8rem;
		}
	}

	a { // apply now
		text-decoration: none;
		background-color: $yellow;
		color: black;
		border-radius: 100px;
		padding: 10px;
		display: inline-block;
		width: 8rem;
		text-align: center;
		margin-top: 10px;
		border: 1px solid $yellow;
		transition:.5s;
	}

	a:hover {
		box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
		color: black;
	}

	button { // map button
		border: 1px solid $black;
		border-radius: 100px;
		background: none;
		padding: 10px;
		margin-left: 10px;
		transition:.5s;
	}
}

.resultsItem:last-child {
    border-bottom: none;
}

.resultsTitleDate { 
	display: flex;
	align-items: flex-start;
	justify-content: space-between;

	p { // date
		background-color: $grey;
		color: $white;
		width: 100px;
		padding: 2px;
		text-align: center;
		border-radius: 5px;
		margin-bottom: 5px;
	}
}



.resultsItem a:hover{
 color: $yellow;
 background-color: black;
 border-width: 0px;
}

.resultsItem button:hover{
box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);

	button:focus {
		outline: none;
	}

	button:hover {
		box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
	}
}
