
@import "setup";
@import "variables";

// Components 

h3.jobTitle {
	text-transform: capitalize;
}

#map{
	height: 50vh;
}

iframe {
	width: 500px;
  	height: 100vh;
  	border:none;
}

.mapContainer {
	width: 100%;
	top:0;
	right:0;
	background: rgba(0,0,0,.8);
	display: none;
	position: fixed;
}
