@import "setup";
@import "variables";
@import "mapmodule";
@import "results";
@import "nav";

// General 

body {
	font-family: $bodyFont;
}

#map{
	height: 50vh;
}

// Form

.formContainer { //full screen form
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-size: 20px;
	animation-duration: 2s;
	background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url('../../assets/hero.jpg');
	background-size: cover;

	h1 { // 'remotely'
		font-family: $headingFont;
		font-size: 93px;
		text-transform: uppercase;
		padding-bottom: 0;
		margin: 5px;
	}

	h3 { // tagline
		color: $yellow;
		font-family: $headingFont;
		text-shadow:1px 1px 3px rgba(0,0,0,.7);
		letter-spacing:1px;
		text-transform: uppercase;
		margin-bottom: 60px;
		text-align: center;
		font-size: 25px;
		padding-top: 0;
	}

}


.formContainerTop { //minimized form
	background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url('../../assets/navbg.jpg');
	width: 100%;
	display: none;
	justify-content: flex-start;
	align-items: center;
	padding: 20px 20px 30px 20px;
	font-size: 20px;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.36);

	h2 {
		font-size: 3.3rem;
	}
}

	@media (max-width: 900px) {
		.formContainerTop {
			flex-direction: column;
		}
	}

	@media (max-width: 505px) {
		.formContainerTop {
			padding: 20px 5px;
			flex-wrap: wrap;
			flex-direction: column;
		}
	}

	@media (max-width: 480px) {
		.formContainerTop {
			flex-wrap: wrap;
			flex-direction: column;
		}
	}

.formContainerTop h2, .formContainer h2 { 
	flex-grow: 2;
	text-align: left;
	font-family: $headingFont;
	text-transform: uppercase;
}

	@media (max-width: 900px) {
		.formContainerTop h2 {
			font-size: 2.5rem;
		}
	}

	@media (max-width: 480px) { 
		.formContainerTop h2 {
			font-size: 2rem;
		}
	}

form { 
	justify-content: center;
}

	@media (max-width: 900px) {
		.formTop { // just the form in minimized form
			margin-top: 10px;
		}
	}

input#title, input#titleTop, input#location, input#locationTop {
	background-size: 25px;
	background-repeat: no-repeat;
	background-position: 3% 50%;
}

input#title, input#titleTop {
	background-image: url('../../assets/work.svg');
}

input#location, input#locationTop {
	background-image: url('../../assets/world.svg');
}

.formMain input, .formContainerTop input  {
    padding: 10px 0px 10px 40px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.26);
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    color: black;
}

	@media (max-width: 1140px) { 
		.formContainerTop input {
			width: 150px;
			font-size: 17px;
		}	
	}

	@media (max-width: 670px) {
		.formMain {
		    display: flex;
		    flex-direction: column;
		    align-items: center;
		    justify-content: center;
		}

		label {
			margin-bottom: 7px;
		}
	}

	@media (max-width: 505px) {
		.formMain input, .formContainerTop input {
			font-size: 0.8em;
		}

		input#location, input#locationTop, input#title, input#titleTop {
			background-size: 18px;
		}

		.formMain input, .formContainerTop input {
			padding: 10px 0px 10px 25px;
		}
	}

input#location, input#locationTop, input#titleTop {
    margin-right: 20px;
}

	@media (max-width: 670px) { 
		input#location, input#locationTop, input#titleTop {
			margin-right: 10px;
		}	

		input#location {
			margin-bottom: 20px;
		}
	}

	@media (max-width: 505px) {
		input#locationTop {
			width: 100px;
		}

		input#titleTop { 
			width: 120px;
		}
	}

.formMain label, .formContainerTop label {
    margin-right: 5px;
}

	@media (max-width: 925px) { 
		.formMain label, .formContainerTop label {
	   		 font-size: 0.8em;
		}
	}

.sub {
	display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

button.submit {
	width: 200px;
    background: white;
    padding: 12px 20px;
    margin-top: 10px;
    border: 0;
    border-radius: 3px;
    background-color: black;
    color: white;
    transition:.5s;
}

button.submit:hover {
	background: $yellow;
	color: black;
	box-shadow: 2px 2px 7px rgba(0,0,0,.3)
}
    
    @media (max-width: 1165px) { 
		button.submit {
			width: 150px;
			padding: 13px;
			font-size: 0.8em;
		}	
	}

    @media (max-width: 680px) { 
		button.submit {
			display: block;
			margin: 15px auto 0 auto;
		}	
	}