
@import "setup";
@import "variables";
@import "mapmodule";
@import "results";
@import "nav";

// Components 

body {
	font-family: $bodyFont;
}

#map{
	height: 50vh;
}

.formContainer { 
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-size: 20px;
	animation-duration: 2s;
}

.formContainerTop {
	background-color: white;
	width: 100%;
	display: none;
	justify-content: flex-start;
	align-items: center;
	padding: 20px;
	font-size: 20px;
	background: #fbfbfb;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.36);

	@media (max-width: 480px) {
		.formContainerTop {
			flex-wrap: wrap;
			flex-direction: column;
		}
	}

	h2 {
		flex-grow: 2;
		text-align: left;
		font-family: $headingFont;
		font-size: 2.5rem;
		text-transform: uppercase;
	}

	@media (max-width: 480px) {
		h2 {
			font-size: 2rem;
		}
	}

	form { 
		justify-content: center;
	}

}

.formMain input, .formContainerTop input  {
    padding: 9px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.26);
    border: 1px solid #d9d9d9;
    border-radius: 3px;
}

.sub{
	display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
   
}

button.submit{
    	background: white;
    	padding: 9px 15px;
    	border: 1px solid #d9d9d9;
    	border-radius: 3px;
    	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.26);
    }

